{% extends '@layout/default.html.twig' %} {# para concatenar no twig usa o ~ #}
{% block title %}Exclusão de Campanha - {{ parent() }}{% endblock %}
{% block content %}
    {% include '@app/campaign/_form-elements.html.twig' %}

    {% set submit = form.get('submit') %}
    {% do submit.setAttribute('class','btn btn-danger').setLabel('Excluir') %}

    {% do form.setAttribute('action', url('campaign.delete', {id: form.getObject().id})) %}
    {% do form.prepare() %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-body">
                    <fieldset disabled>
                        {% include '@app/campaign/_form.html.twig' %}
                    </fieldset>
                    {{ form().openTag(form) | raw}}
                    {{ formHidden(form.get('_method')) }}

                    <div class="box-footer">
                        {{ formButton(submit) }}
                    </div>
                   {{ form().closeTag()| raw}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %}
    Exclusão de Campanha
{% endblock %}